#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skillTitle  {
    font-size: 4rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skillBars {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillBar {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50,50,50);
}

.skillBarImg {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
    
    float: left;
   margin-right: 20px;
    margin-top: 40px;
}

.skillBarText>h2 {
    font-size: 1.6rem;
    font-weight: 700;
   
    text-align: right;
    padding-right: 70px;
}

@media screen and (max-width: 720px) {
    .skillBarText>p {
        font-size: 2vw;
    }
}

@media screen and (max-width: 480px) {
    .skillBarText>p {
        font-size: 2vw;
    }
    .skillBarImg {
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarText>h2 {
        font-size: 5vw;
       
    }
}

.skillBarText {
    text-align: right;
    padding-bottom: 50px;
    padding-top: 10px;
}


.con {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 columns */
    gap: 10px; /* Gap between sections */
}

.sec {
    padding: 20px;
    text-align: center;
    background: rgb(50,50,50);
}


